*{
    margin: 0;
    padding: 0;
}

#header{
    border-bottom: 1px solid #000000;
    margin: 10px;
    padding: 10 px;
}

#header ul li{
    list-style: none;
    display: inline-block;
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
}

#header ul li.active{
    background-color: #fff;
    color: #000;
}

#header ul li a {
    text-decoration: none;
}