<!-- <h3>Welcome To Local Amazon</h3>
<ui-view></ui-view> -->
<div id= "header">
    <h2>Welcome To Local Amazon</h2>
    <ul>
        <li ui-sref-active="active">
            <a ui-sref="home" >Home</a> 
        </li>
        <li ui-sref-active="active">
            <a ui-sref="cart" >Cart</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="addProduct">Add Product</a>
        </li>
    </ul>
</div>

<div id= "container">   
       <ui-view></ui-view>
</div>
<div id= "footer">
        @copyright 2018
</div>